# Archivos auxiliares de LaTeX
*.aux
*.bbl
*.blg
*.brf
*.fdb_latexmk
*.fls
*.idx
*.ilg
*.ind
*.lof
*.lot
*.log
*.out
*.synctex.gz
*.toc
svg-inkscape

# PDF del informe
main.pdf

# Carpetas de extensiones
.vscode/*
!.vscode/settings.json